.idea
.vscode

aigc-backend
go.sum
target
*debug_bin*
logs
.envs
__pycache__
demovideos
demoaudiostyles
demotxt2imgstyles
bg
aigc-backend2c

*.jpg
*.jpeg
*.png
.DS_Store
app-local.yaml
common-local.yaml
*.xlsx
